// product-detail page

.product-detail-content{
    // right: 0;
    // top:33%;
    bottom: 0;
}
.product-detail-head{
    height: 566px;
}
.product-card {
    margin-left: -15px;
    margin-right: -15px;
}



.price{
    width: 50%;
    line-height: 22px;
    text-align:right;
}
.add-cart-btn{
    width: 100%;        
}
.quantity {
    height: 3.5rem;
    width: 50%;
    
    border-radius: 0.25rem;
    background: #F2F2F2;
    i{
        vertical-align:middle;
    }
}

.quantity input[type='number'] {
    height: 3.5rem;
    background-color: #f2f2f2;
}

@media(min-width:576px){
    .product-detail-head{
        height: auto;
    }
    
    .product-detail-content{
        right: 0;
        // top:33%;
        bottom:auto;
    }
    .price{
        width: 100%;
        // text-align:right;
    }
    .add-cart-btn{
        width: auto;
    }

    .quantity {
        width: 30%;
        border-radius: 0.25rem;
    }



}
