
.modal.right .modal-dialog{
    position: fixed;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content{
    height: 100%;
    overflow-y: auto;
}

.modal-header{
    border: none;
    .close{
        opacity: 1;
        span{
           line-height: 2rem;
        }
        // padding: 0;
        
    }
}

.modal-content{
    border-radius: 0;
    border: none; 
}

.modal-body{
    border: none;
}

.modal-footer{
    border: none;
}

@media(min-width:768px){
    .modal.right .modal-dialog{
        width: 540px;
    }

    .modal-header{
        h4{
            line-height: 57px;
        }
                
        .close{
            // opacity: 1;
            span{
               line-height: 2rem;
            }
            // padding: 0;
            
        }
    }
}