 <!-- Swiper begin 輪播模組-->
 <div class="swiper-container pb-7 pb-md8">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-1.jpg" class="card-img-top slide-img-top" alt="...">
          <div class="card-img-overlay p-3">
            <p class="card-text text-right text-white font-size-14 text-capitalize">on sale</p>
          </div>
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">Tatami Cup</h4>
            <p class="card-text font-size-16">NT$1,080<del class="text-black-50 ml-2">NT$1,200</del></p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-2.jpg" class="card-img-top slide-img-top" alt="...">
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">couple Collection</h4>
            <p class="card-text font-size-16">NT$2,800
              <!-- <del class="text-black-50 ml-2">NT$1,200</del> -->
            </p>            
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-3.jpg" class="card-img-top slide-img-top" alt="...">
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">Brotherhood Vase</h4>
            <p class="card-text font-size-16">NT$4,800
              <!-- <del class="text-black-50 ml-2">NT$1,200</del> -->
            </p>            
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-4.jpg" class="card-img-top slide-img-top" alt="...">
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">Baifan Bowl</h4>
            <p class="card-text font-size-16">NT$1,800
              <!-- <del class="text-black-50 ml-2">NT$1,200</del> -->
            </p>            
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-5.jpg" class="card-img-top slide-img-top" alt="...">
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">couple Collection</h4>
            <p class="card-text font-size-16">NT$2,800
              <!-- <del class="text-black-50 ml-2">NT$1,200</del> -->
            </p>            
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-6.jpg" class="card-img-top slide-img-top" alt="...">
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">couple Collection</h4>
            <p class="card-text font-size-16">NT$2,800
              <!-- <del class="text-black-50 ml-2">NT$1,200</del> -->
            </p>            
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-7.jpg" class="card-img-top slide-img-top" alt="...">
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">couple Collection</h4>
            <p class="card-text font-size-16">NT$2,800
              <!-- <del class="text-black-50 ml-2">NT$1,200</del> -->
            </p>            
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-8.jpg" class="card-img-top" alt="...">
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">couple Collection</h4>
            <p class="card-text font-size-16">NT$2,800
              <!-- <del class="text-black-50 ml-2">NT$1,200</del> -->
            </p>            
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card border-0">
          <img src="./assets/images/img-9.jpg" class="card-img-top" alt="...">
          <div class="card-body text-left p-0 pt-1">
            <h4 class="card-title mb-1 text-capitalize">couple Collection</h4>
            <p class="card-text font-size-16">NT$2,800
              <!-- <del class="text-black-50 ml-2">NT$1,200</del> -->
            </p>            
          </div>
        </div>
      </div>      
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>