<div class="sub-menu collapse bg-white mt-3" id="collapseSubMenu">
    <ul class="list-unstyled sub-menu-item text-capitalize" id="sub-menu-item">
        <li class="border-0 font-size-16 font-size-md-24 my-3">
            <a href="product.html">all<sup>24</sup></a>
        </li>
        <li class="border-0 font-size-16 font-size-md-24 my-3">
            <a href="#">bowl<sup>10</sup></a>
        </li>
        <li class="border-0 font-size-16 font-size-md-24 my-3">
            <a href="#">cup<sup>8</sup></a>
        </li>
        <li class="border-0 font-size-16 font-size-md-24 my-3">
            <a href="#">plate<sup>3</sup></a>
        </li>
        <li class="border-0 font-size-16 font-size-md-24 mt-3">
            <a href="#">vase<sup>3</sup></a>
        </li>
    </ul>
</div> 